{
  "validUser": {
    "username": "Heath93",
    "password": "s3cret"
  },
  "invalidUsernameUser": {
    "username": "Heath890",
    "password": "s3cret"
  },
  "invalidPasswordUser": {
    "username": "Heath93",
    "password": "wrongpass"
  },
  "invalidTooShortPasswordUser": {
    "username": "Heath93",
    "password": "pass",
    "helperText": "Password must contain at least 5 characters"
  }
}