{
  "validUser": {
    "username": "Heath93",
    "password": "s3cret"
  },
  "invalidUsernameUser": {
    "username": "enter_invalid_username",
    "password": "enter_password"
  },
  "invalidPasswordUser": {
    "username": "enter_username",
    "password": "enter_invalid_password"
  },
  "invalidTooShortPasswordUser": {
    "username": "enter_username",
    "password": "enter_short_password",
    "helperText": "Write helper text"
  }
}